header.header 
  .container
    .logo 
      a.logo__link(href="#") 
        img(src="../../../img/logo.png" alt="Logo")
    .location       
      img(src="../../../img/svg/city.svg" alt="Logo")
      p.location__title Москва
    .search
      input.search__input(type="text")
      img.search__img(src="../../../img/svg/search.svg", alt="search icon")